### Label Encoder

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data =pd.read_csv(r"C:\Users\Admin\Downloads\iris.csv")

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
#Changes does not effect the "data" dataframe
data1=data.copy()

In [5]:
labelencoder = LabelEncoder()
data1.iloc[:, -1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [6]:
data1

     sepal_length  sepal_width  petal_length  petal_width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

### One Hot Encoder

#### Using sklearn

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
data2=pd.read_csv(r"C:\Users\Admin\Downloads\iris.csv")

In [9]:
data2

     sepal_length  sepal_width  petal_length  petal_width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [11]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['Species']]).toarray())

In [12]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [13]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

     sepal_length  sepal_width  petal_length  petal_width    0    1    2
0             5.1          3.5           1.4          0.2  1.0  0.0  0.0
1             4.9          3.0           1.4          0.2  1.0  0.0  0.0
2             4.7          3.2           1.3          0.2  1.0  0.0  0.0
3             4.6          3.1           1.5          0.2  1.0  0.0  0.0
4             5.0          3.6           1.4          0.2  1.0  0.0  0.0
..            ...          ...           ...          ...  ...  ...  ...
145           6.7          3.0           5.2          2.3  0.0  0.0  1.0
146           6.3          2.5           5.0          1.9  0.0  0.0  1.0
147           6.5          3.0           5.2          2.0  0.0  0.0  1.0
148           6.2          3.4           5.4          2.3  0.0  0.0  1.0
149           5.9          3.0           5.1          1.8  0.0  0.0  1.0

[150 rows x 7 columns]

#### Using Pandas

In [14]:
import pandas as pd

In [15]:
data3 =pd.read_csv(r"C:\Users\Admin\Downloads\iris.csv")

In [16]:
data_encoded=pd.get_dummies(data3)

In [17]:
data_encoded

,sepal_length,sepal_width,petal_length,petal_width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

#### IsolationForest

In [18]:
from sklearn.ensemble import IsolationForest

In [19]:
data =pd.read_csv(r"C:\Users\Admin\Downloads\iris.csv")
data_encoded=pd.get_dummies(data)

In [20]:
data_encoded

,sepal_length,sepal_width,petal_length,petal_width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [21]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(contamination=0.01, random_state=10)

In [22]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [23]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [24]:
data_encoded

,sepal_length,sepal_width,petal_length,petal_width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [25]:
## Let us add a new data point which is outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [26]:
data_encoded

,sepal_length,sepal_width,petal_length,petal_width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1
150,20.0,40.0,30.0,50.0,1,0,0

In [27]:
# training the model
clf = IsolationForest(random_state=10,contamination=.02)
clf.fit(data_encoded)

IsolationForest(contamination=0.02, random_state=10)

In [28]:
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [29]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [30]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:7])

In [31]:
data_encoded

,sepal_length,sepal_width,petal_length,petal_width,Species_setosa,Species_versicolor,Species_virginica,scores,anomaly
0,5.1,3.5,1.4,0.2,1,0,0,0.191410,1
1,4.9,3.0,1.4,0.2,1,0,0,0.166720,1
2,4.7,3.2,1.3,0.2,1,0,0,0.164799,1
3,4.6,3.1,1.5,0.2,1,0,0,0.170157,1
4,5.0,3.6,1.4,0.2,1,0,0,0.183624,1
...,...,...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,0,0,1,0.125854,1
147,6.5,3.0,5.2,2.0,0,0,1,0.168000,1
148,6.2,3.4,5.4,2.3,0,0,1,0.107191,1
149,5.9,3.0,5.1,1.8,0,0,1,0.137403,1
150,20.0,40.0,30.0,50.0,1,0,0,-0.300537,-1

In [32]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

,sepal_length,sepal_width,petal_length,petal_width,Species_setosa,Species_versicolor,Species_virginica,scores,anomaly
106,4.9,2.5,4.5,1.7,0,0,1,-0.020151,-1
118,7.7,2.6,6.9,2.3,0,0,1,-0.002381,-1
150,20.0,40.0,30.0,50.0,1,0,0,-0.300537,-1

### PPS score

In [35]:
#install the package
!pip install ppscore

Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\admin\anaconda3\lib\site-packages (from ppscore) (1.1.3)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in c:\users\admin\anaconda3\lib\site-packages (from ppscore) (0.23.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\admin\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.19.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (0.17.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13055 sha256=e89ee541a350f702e4c143f79d1a9cde5acfd4ad9abe8f02a87bb71c2c24ecdb
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\fb\0e\65\da65ce669381fc01b6ef990d301d3586991f89bff1175877a4
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.2.0

In [36]:
import ppscore as pps

In [39]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data, "sepal_length", "petal_length")

{'x': 'sepal_length',
 'y': 'petal_length',
 'ppscore': 0.5505748783284862,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 1.488,
 'model_score': 0.6687445810472126,
 'model': DecisionTreeRegressor()}

In [41]:
pps.score(data, "sepal_length", "Species")

{'x': 'sepal_length',
 'y': 'Species',
 'ppscore': 0.47164941668027915,
 'case': 'classification',
 'is_valid_score': True,
 'metric': 'weighted F1',
 'baseline_score': 0.35333333333333333,
 'model_score': 0.6583332894532472,
 'model': DecisionTreeClassifier()}

In [40]:
#calculate the whole PPS matrix
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,sepal_length,sepal_length,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,sepal_length,sepal_width,0.000000,regression,True,mean absolute error,0.327333,0.362073,DecisionTreeRegressor()
2,sepal_length,petal_length,0.550575,regression,True,mean absolute error,1.488000,0.668745,DecisionTreeRegressor()
3,sepal_length,petal_width,0.431163,regression,True,mean absolute error,0.645333,0.367090,DecisionTreeRegressor()
4,sepal_length,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,sepal_width,sepal_length,0.001902,regression,True,mean absolute error,0.684667,0.683364,DecisionTreeRegressor()
6,sepal_width,sepal_width,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,sepal_width,petal_length,0.167773,regression,True,mean absolute error,1.488000,1.238354,DecisionTreeRegressor()
8,sepal_width,petal_width,0.129681,regression,True,mean absolute error,0.645333,0.561646,DecisionTreeRegressor()
9,sepal_width,Species,0.179145,classification,True,weighted F1,0.353333,0.469180,DecisionTreeClassifier()
10,petal_length,sepal_length,0.524480,regression,True,mean absolute error,0.684667,0.325573,DecisionTreeRegressor()
11,petal_length,sepal_width,0.041298,regression,True,mean absolute error,0.327333,0.313815,DecisionTreeRegressor()
12,petal_length,petal_length,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,petal_length,petal_width,0.745236,regression,True,mean absolute error,0.645333,0.164408,DecisionTreeRegressor()
14,petal_length,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,petal_width,sepal_length,0.384320,regression,True,mean absolute error,0.684667,0.421535,DecisionTreeRegressor()
16,petal_width,sepal_width,0.258780,regression,True,mean absolute error,0.327333,0.242626,DecisionTreeRegressor()
17,petal_width,petal_length,0.798971,regression,True,mean absolute error,1.488000,0.299131,DecisionTreeRegressor()
18,petal_width,petal_width,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,petal_width,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,Species,sepal_length,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,Species,sepal_width,0.183645,regression,True,mean absolute error,0.327333,0.267220,DecisionTreeRegressor()
22,Species,petal_length,0.785451,regression,True,mean absolute error,1.488000,0.319249,DecisionTreeRegressor()
23,Species,petal_width,0.755378,regression,True,mean absolute error,0.645333,0.157863,DecisionTreeRegressor()
24,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None